.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text);
    padding: 1rem 0.5rem;
    gap: 1rem;

    img {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid var(--primary);
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        flex: 1;

        h3 {
            font-size: 16px;;
        }

        span {
            font-size: 12px;
        }
    }
}