.container {
    display: flex;
    flex-direction: column;

    .card {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        background-size: cover;
        background-position: center;
        background-color: rgb(41, 136, 219);
        width: 100%;
        height: 18rem;
        position: relative;

        border-radius: 8px;

        padding: 1rem;
        justify-content: end;

        box-shadow: 0px 4px 4px #00000042;

        div {
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.527);
            padding: 0.6rem;
            border-radius: 8px;
            backdrop-filter: blur(2px);
            color: var(--background);
            gap: 1rem;

            strong {
                font-size: 1.2rem;
                font-weight: 500;
            }
            
            span {
                display: flex;
                align-items: center;
                color: var(--background);
                gap: 0.3rem;
            }
        }

    }

    .buttons {
        display: flex;;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;

        button {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            color: var(--primary);
        }
    }
}