@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #CE6337;
    --primary-shadow: #a74e2b;
    --background: #dfdfdf;
    --title: #3D3B3B;
    --text: #525151;
    --defaultPadding: 1.4rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

p, span, label, input, textarea {
    color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title);
}